.nav {
    background: linear-gradient(.25turn, yellow, 15%, lightblue);
}

#page-title {
    font-size: 80px;
    color: white;
}

#search-side {
   border-bottom: 5px solid #458b74;    
  }

#search1 {
    border-bottom: 5px solid #458b74;    
   }

#city-entered {
    margin-top: 14px;
}

#submit1 {
    padding-left: 50px; 
    padding-right: 50px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin-top: 18px;
    margin-left: 60px;
}

#footer {    
    background: linear-gradient(.25turn, yellow, 15%, lightblue);
    justify-content: center;
}