.nav {
    background: linear-gradient(.25turn, yellow, 15%, lightblue);
}

.page-title {
    font-size: 70px;
}
.card-header {
    font-weight: bold;
    background-color: rgb(131, 199, 191);
}

#search-side {
   border-bottom: 5px solid #458b74;
   background-color: rgb(241, 248, 184);
  }

#search1 {
    search-name: --s1;
    border-bottom: 5px solid #458b74;       
   }

#city-entered {
    margin-top: 14px;
}

#submit1 {
    padding-left: 50px; 
    padding-right: 50px; 
    padding-top: 5px; 
    padding-bottom: 5px;
    border-radius:5px; 
    margin-top: 18px;
    background-color: lightblue;
    position: absolute;
    position-search1: --s1;
    position-area: bottom center;
}

#current-weather-shell {
    background: linear-gradient(.25turn, #ffff4c, 15%, lightblue);
}

#footer {    
    background: linear-gradient(.25turn, yellow, 15%, lightblue);
    justify-content: center;
}

#input-and-result {}
#five-day {}
#saved-cities {}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
    #search-side {
        display: flex;
        padding-bottom: 2%;
    }
    #search1 {
        padding-left: 50px; 
        padding-right: 50px; 
        padding-top: 5px; 
        padding-bottom: 5px;
        border-bottom: transparent;         
    }

    #saved-cities {
        padding-left: 50px; 
        padding-right: 50px; 
        padding-top: 80px; 
        padding-bottom: 5px;
    }
    
    #input-and-result {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    #five-day {
        display: flex;
        flex-wrap: wrap;
    }
}