.nav {
    background: linear-gradient(.25turn, yellow, 15%, lightblue);
}

.page-title {
    font-size: 70px;
}
.card-header {
    font-weight: bold;
    background-color: rgb(131, 199, 191);
}

#search-side {
   border-bottom: 5px solid #458b74;
   background-color: rgb(241, 248, 184);    
  }

#search1 {
    border-bottom: 5px solid #458b74;    
   }

#city-entered {
    margin-top: 14px;
}

#submit1 {
    padding-left: 50px; 
    padding-right: 50px; 
    padding-top: 5px; 
    padding-bottom: 5px;
    border-radius:5px; 
    margin-top: 18px;
    margin-left: 60px;
    background-color: lightblue;
}

#current-weather-shell {
    background: linear-gradient(.25turn, #ffff4c, 15%, lightblue);
}

#footer {    
    background: linear-gradient(.25turn, yellow, 15%, lightblue);
    justify-content: center;
}